target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.mvn/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/
.vscode/

*.log
logs/

.env
.env.local

application-local.properties
application-prod.properties
